<section class='masthead'>
    <div class='language-nav'>
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">JAVASCRIPT</a></li>
            <li><a href="#">RUBY</a></li>
        </ul>
    </div>
    
    <img class='logo' src='assets/AA_Times_Logo.png' alt="logo">

    <div>
        <ul class='masthead-links'>
            <li><button>Tuesday, October 18, 2016</button></li>
            <li><i class="far fa-newspaper"></i><button><a href="#">Today's Paper</a></button></li>
            <li><i class="fas fa-video"></i><button><a href="#">Video</a></button></li>
            <li><button>77°F</button></li>
            <li><button>AAO <span class="stock">+100%</span></button></li>
        </ul>
    </div>


</section>