/* PHASE 2: Thumbs */

.thumbs ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.thumbs img {
    width: 55px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 7px;
    margin-left: 4px;
}

.thumbs li:nth-child(2), li:nth-child(5), li:nth-child(8) {
    margin-right: 7px;
    margin-left: 7px;
}

.thumbs li {
    position: relative;
}

.thumb[title]:before {
    content: attr(title);
    display: block;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    display: none;
    width: 48px;

}

.thumb[title]::after {
    content: " ";
    position: absolute;
    /* top: 100%; */
    left: 45%;
    bottom: 60px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    display: none;
}

.thumb-items > li:hover .thumb[title]:before{
    display: block;
    position: absolute;
    bottom: 70px;
    margin: auto;
}

.thumb-items > li:hover .thumb[title]::after {
    display: block;
}




